@import "tailwindcss";

body {
  background-color: #f8fafc;
}

.red-pulse {
    border-color: #f87171 !important;
    animation: intelligence-pulse 2s infinite;
}

@keyframes intelligence-pulse {
    0% { box-shadow: 0 0 0px rgba(239, 68, 68, 0.2); }
    50% { box-shadow: 0 0 15px rgba(239, 68, 68, 0.5); }
    100% { box-shadow: 0 0 0px rgba(239, 68, 68, 0.2); }
}

.scale-\[1\.01\] {
  transform: scale(1.01);
}